<application>
  <component name="PluginAdvertiserExtensions"><![CDATA[{
  "plugins": {
    "*.ipr": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.png": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.fx": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "Pipfile": {
      "pluginIdString": "org.toml.lang",
      "nullablePluginName": "Toml",
      "isBundled": true
    },
    "*.pnm": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "Cargo.lock": {
      "pluginIdString": "org.toml.lang",
      "nullablePluginName": "Toml",
      "isBundled": true
    },
    "*.shtml": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.doc": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.rgbe": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.patch": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.odt": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jsf": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.markdown": {
      "pluginIdString": "org.intellij.plugins.markdown",
      "nullablePluginName": "Markdown",
      "isBundled": true
    },
    "*.jspf": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.egg": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.iws": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jql": {
      "pluginIdString": "com.intellij.tasks",
      "nullablePluginName": "Task Management",
      "isBundled": true
    },
    "*.diff": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xul": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jar": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xml": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.tagf": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.zip": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.apk": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ent": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.war": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ant": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.pcx": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.pdf": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.json": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ignore": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jhm": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.hlp": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.tld": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xhtml": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.pm": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "Gopkg.lock": {
      "pluginIdString": "org.toml.lang",
      "nullablePluginName": "Toml",
      "isBundled": true
    },
    "*.pl": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.tiff": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.hgignore": {
      "pluginIdString": "hg4idea",
      "nullablePluginName": "Mercurial",
      "isBundled": true
    },
    "*.fxml": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.mod": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.css": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ndjson": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jrxml": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.hs": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xls": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.py": {
      "pluginIdString": "PythonCore",
      "nullablePluginName": "Python Community Edition",
      "isBundled": true
    },
    "*.iml": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xsd": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.gif": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.jnlp": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xsl": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xslt": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.sql": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "poetry.lock": {
      "pluginIdString": "org.toml.lang",
      "nullablePluginName": "Toml",
      "isBundled": true
    },
    "*.ane": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.yml": {
      "pluginIdString": "org.jetbrains.plugins.yaml",
      "nullablePluginName": "YAML",
      "isBundled": true
    },
    "*.dcx": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.dtd": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.bash": {
      "pluginIdString": "com.jetbrains.sh",
      "nullablePluginName": "Shell Script",
      "isBundled": true
    },
    "*.htm": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jpg": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.properties": {
      "pluginIdString": "com.intellij.properties",
      "nullablePluginName": "Properties",
      "isBundled": true
    },
    "*.aj": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.mdb": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.rng": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.rnc": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.yaml": {
      "pluginIdString": "org.jetbrains.plugins.yaml",
      "nullablePluginName": "YAML",
      "isBundled": true
    },
    "*.sh": {
      "pluginIdString": "com.jetbrains.sh",
      "nullablePluginName": "Shell Script",
      "isBundled": true
    },
    "*.idl": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.html": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.elt": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jsonl": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jbig2": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.pbm": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.xbm": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.wbmp": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.gitignore": {
      "pluginIdString": "Git4Idea",
      "nullablePluginName": "Git",
      "isBundled": true
    },
    "exclude": {
      "pluginIdString": "Git4Idea",
      "nullablePluginName": "Git",
      "isBundled": true
    },
    "*.psd": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    ".editorconfig": {
      "pluginIdString": "org.editorconfig.editorconfigjetbrains",
      "nullablePluginName": "EditorConfig",
      "isBundled": true
    },
    "*.sht": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.js": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.c": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.pptx": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.h": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.cs": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.bmp": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.tif": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.pyw": {
      "pluginIdString": "PythonCore",
      "nullablePluginName": "Python Community Edition",
      "isBundled": true
    },
    "*.tag": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.har": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jsonlines": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.cc": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ico": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.cpp": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.shtm": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.pam": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.hpp": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.wsdl": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.svg": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.icns": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.md": {
      "pluginIdString": "org.intellij.plugins.markdown",
      "nullablePluginName": "Markdown",
      "isBundled": true
    },
    "*.jpeg": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.txt": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ui": {
      "pluginIdString": "PythonCore",
      "nullablePluginName": "Python Community Edition",
      "isBundled": true
    },
    "*.ppm": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.bigtiff": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.regexp": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.ppt": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.xpm": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.json5": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.pyi": {
      "pluginIdString": "PythonCore",
      "nullablePluginName": "Python Community Edition",
      "isBundled": true
    },
    "Cargo.toml.orig": {
      "pluginIdString": "org.toml.lang",
      "nullablePluginName": "Toml",
      "isBundled": true
    },
    "*.dic": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.swc": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.jsp": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.vsd": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.docx": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.rst": {
      "pluginIdString": "org.jetbrains.plugins.rest",
      "nullablePluginName": "ReStructuredText",
      "isBundled": true
    },
    "*.ldjson": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.tga": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.zsh": {
      "pluginIdString": "com.jetbrains.sh",
      "nullablePluginName": "Shell Script",
      "isBundled": true
    },
    "*.ear": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.toml": {
      "pluginIdString": "org.toml.lang",
      "nullablePluginName": "Toml",
      "isBundled": true
    },
    "*.pgm": {
      "pluginIdString": "com.intellij.platform.images",
      "nullablePluginName": "Images",
      "isBundled": true
    },
    "*.xlsx": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    },
    "*.qrc": {
      "pluginIdString": "com.intellij",
      "nullablePluginName": "IDEA CORE",
      "isBundled": true
    }
  }
}]]></component>
</application>